[Unit]
Description=Homegear
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
PIDFile=/var/run/homegear/homegear.pid
TimeoutSec=300
LimitRTPRIO=100
ExecStartPre=/usr/bin/homegear -u homegear -g homegear -p /var/run/homegear/homegear.pid -pre
ExecStart=/usr/bin/homegear -u homegear -g homegear -p /var/run/homegear/homegear.pid
Restart=on-failure
TasksMax=infinity
LimitRTPRIO=infinity
LimitRTTIME=infinity
LimitCORE=infinity
