[Unit]
Description=Homegear
After=syslog.target network-online.target
Requires=syslog.target network-online.target

[Service]
Type=forking
PIDFile=/var/run/homegear/homegear.pid
ExecStart=/etc/init.d/homegear start
ExecStop=/etc/init.d/homegear stop
ExecReload=/etc/init.d/homegear reload

[Install]
