[Unit]
Description=Homegear
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=forking
PIDFile=/var/run/homegear/homegear.pid
TimeoutSec=300
ExecStartPre=/usr/bin/homegear -u homegear -g homegear -p /var/run/homegear/homegear.pid -pre
ExecStart=/usr/bin/homegear -u homegear -g homegear -p /var/run/homegear/homegear.pid -d
