Package: homegear
Version: 0.0.1-1
Architecture: amd64
Maintainer: Sathya Laufer <sathya@laufers.net>
Installed-Size: 3125
Depends: libc6 (>= 2.2.5), libgcc1 (>= 1:4.1.1), libreadline6 (>= 6.2), libsqlite3-0 (>= 3.7.13), libstdc++6 (>= 4.6), adduser (>= 3.113)
Section: misc
Priority: optional
Homepage: https://homegear.eu
Description: Program to control your HomeMatic devices
 Homegear a program to interface your home automation software
 with your HomeMatic devices.
