Source: homegear-openweathermap
Maintainer: Sathya Laufer <sathya@laufers.net>
Section: misc
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 8)
Homepage: https://homegear.eu

Package: homegear-openweathermap
Architecture: all
Section: misc
Priority: optional
Homepage: https://homegear.eu
Depends: ${shlibs:Depends}, ${misc:Depends}, homegear (>= 0.5.22), php5-cli (>= 5.0.0)
Description: Provides an OpenWeatherMap device for Homegear.
 This packet extends Homegear by adding a new device which
 fetches data from the OpenWeatherMap service.
