Source: homegear
Maintainer: Sathya Laufer <sathya@laufers.net>
Section: misc
Priority: optional
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 8), libsqlite3-dev (>= 3.7.13), libreadline6-dev (>= 6.2), libssl-dev (>= 1.0.1e)
Homepage: https://homegear.eu

Package: homegear
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsqlite3-0 (>= 3.7.13), libreadline6 (>= 6.2), adduser (>= 3.113), libssl1.0.0 (>= 1.0.1e), unzip (>= 6.0), p7zip-full (>= 9.0), libxml2-utils (>= 2.8.0)
Description: Program to control your HomeMatic devices
 Homegear a program to interface your home automation software 
 with your HomeMatic devices.
