Source: homegear
Maintainer: Sathya Laufer <sathya@laufers.net>
Section: misc
Priority: optional
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 8), libhomegear-base (= <BASELIBVER>), libsqlite3-dev (>= 3.7.13), libreadline6-dev (>= 6.2), libgcrypt20-dev, libgpg-error-dev (>= 1.10), libgnutls28-dev, php7-homegear-dev, libxslt1-dev, libedit-dev, libmcrypt-dev, libenchant-dev, libqdbm-dev, libltdl-dev, zlib1g-dev, libtinfo-dev, libgmp-dev, libxml2-dev, libssl-dev
Homepage: https://homegear.eu

Package: homegear
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libhomegear-base (= <BASELIBVER>), wget, libsqlite3-0 (>= 3.7.13), libreadline6 (>= 6.2), adduser (>= 3.113), libgcrypt20, libgnutlsxx28, libgpg-error0 (>= 1.10), unzip (>= 6.0), p7zip-full (>= 9.0), php5-cli (>= 5.4), libxslt1.1, libedit2, libmcrypt4, libenchant1c2a, libqdbm14, libltdl7, zlib1g, libtinfo5, libgmp10, libxml2, libssl1.0.0
Description: Program to control your HomeMatic devices
 Homegear is a program to interface your home automation software 
 with your home automation devices.
