#!/usr/bin/make -f

override_dh_auto_configure:
	dh_auto_configure -- --with-curl

override_dh_auto_install:
	dh_auto_install

	mkdir -p $(CURDIR)/debian/homegear/etc/homegear
	cp -R $(CURDIR)/misc/Config\ Directory/* $(CURDIR)/debian/homegear/etc/homegear
	chmod 755 $(CURDIR)/debian/homegear/etc/homegear
	chmod 644 $(CURDIR)/debian/homegear/etc/homegear/*
	chmod 755 $(CURDIR)/debian/homegear/etc/homegear/*.sh

	mkdir -p $(CURDIR)/debian/homegear/etc/homegear/devices/254
	cp -R $(CURDIR)/homegear-miscellaneous/misc/Device\ Description\ Files/* $(CURDIR)/debian/homegear/etc/homegear/devices/254
	chmod 755 $(CURDIR)/debian/homegear/etc/homegear/devices/254
	chmod 644 $(CURDIR)/debian/homegear/etc/homegear/devices/254/*

	chown -R root:root $(CURDIR)/debian/homegear/etc/homegear

	mkdir -p $(CURDIR)/debian/homegear/etc/init.d
	cp $(CURDIR)/misc/System\ Config/homegear.init $(CURDIR)/debian/homegear/etc/init.d/homegear
	chown root:root $(CURDIR)/debian/homegear/etc/init.d/homegear
	chmod 755 $(CURDIR)/debian/homegear/etc/init.d/homegear
	mkdir -p $(CURDIR)/debian/homegear/lib/systemd/system
	cp $(CURDIR)/misc/System\ Config/homegear.service $(CURDIR)/debian/homegear/lib/systemd/system/
	chown root:root $(CURDIR)/debian/homegear/lib/systemd/system/homegear.service
	chmod 644 $(CURDIR)/debian/homegear/lib/systemd/system/homegear.service

	mkdir -p $(CURDIR)/debian/homegear/etc/logrotate.d
	cp $(CURDIR)/misc/System\ Config/logrotate $(CURDIR)/debian/homegear/etc/logrotate.d/homegear
	chown root:root $(CURDIR)/debian/homegear/etc/logrotate.d/homegear
	chmod 644 $(CURDIR)/debian/homegear/etc/logrotate.d/homegear

	mkdir -p $(CURDIR)/debian/homegear/etc/security/limits.d
	chown root:root $(CURDIR)/debian/homegear/etc/security/limits.d
	echo "homegear	soft    rtprio	  100" > $(CURDIR)/debian/homegear/etc/security/limits.d/homegear
	echo "homegear	hard    rtprio	  100" >> $(CURDIR)/debian/homegear/etc/security/limits.d/homegear
	chown root:root $(CURDIR)/debian/homegear/etc/security/limits.d/homegear
	chmod 644 $(CURDIR)/debian/homegear/etc/security/limits.d/homegear

	mkdir -p $(CURDIR)/debian/homegear/var/lib/homegear
	mkdir $(CURDIR)/debian/homegear/var/lib/homegear/phpinclude
	cp -R $(CURDIR)/misc/State\ Directory/* $(CURDIR)/debian/homegear/var/lib/homegear
	chown -R root:root $(CURDIR)/debian/homegear/var/lib/homegear
	find $(CURDIR)/debian/homegear/var/lib/homegear -type d -exec chmod 550 {} \;
	find $(CURDIR)/debian/homegear/var/lib/homegear -type f -exec chmod 440 {} \;
	chmod 755 $(CURDIR)/debian/homegear/var/lib/homegear/scripts/*.sh

	mkdir -p $(CURDIR)/debian/homegear/usr/share/homegear/php
	cp -R /usr/share/homegear/php-dev/* $(CURDIR)/debian/homegear/usr/share/homegear/php
	rm -f $(CURDIR)/debian/homegear/usr/share/homegear/php/*/*.a
	chown -R root:root $(CURDIR)/debian/homegear/usr/share/homegear
	find $(CURDIR)/debian/homegear/usr/share/homegear -type d -exec chmod 555 {} \;
	find $(CURDIR)/debian/homegear/usr/share/homegear -type f -exec chmod 444 {} \;

	# {{{ Create Node.js links to be able to run npm in this script
	# Linking this file uses /usr/bin/node_modules instead of /usr/lib/node_modules
	if test ! -e /usr/bin/npm; then ln -s /usr/share/homegear/nodejs/lib/node_modules/npm/bin/npm /usr/bin/npm; fi
	# Linking this file uses /usr/bin/node_modules instead of /usr/lib/node_modules
	if test ! -e /usr/bin/npx; then ln -s /usr/share/homegear/nodejs/lib/node_modules/npm/bin/npx /usr/bin/npx; fi
	if test ! -e /usr/bin/node; then ln -s $(CURDIR)/debian/homegear/usr/bin/homegear-node /usr/bin/node; fi
	# This works and doesn't bite with the real Node.js if installled.
	if test ! -e /usr/bin/node_modules; then ln -s /usr/share/homegear/nodejs/lib/node_modules /usr/bin/node_modules; fi
	# }}}

	# {{{ Install Node-RED modules
	rm -Rf $(CURDIR)/debian/homegear/var/lib/homegear/node-blue/node-red/node_modules
	cd $(CURDIR)/debian/homegear/var/lib/homegear/node-blue/node-red/ && NODE_OPTIONS=--max-old-space-size=512 npm install --no-audit --no-update-notifier --unsafe-perm --no-fund --production
	# }}}

	# {{{ Remove link to homegear-node again, so it can be recreated correctly when installing Homegear
	echo `readlink -f /usr/bin/node` | grep -q build && rm -f /usr/bin/node
	# }}}

override_dh_strip:
	dh_strip --dbg-package=homegear

%:
	dh $@ --parallel
