#!/usr/bin/make -f

override_dh_auto_clean:
	rm -Rf bin
	rm -Rf obj

override_dh_auto_configure:
	# We can for example download needed files here.
	# All shell commands are supported

override_dh_auto_build:
	make config=release

override_dh_auto_install:
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	mkdir -p $(CURDIR)/debian/homegear/usr/bin
	cp $(CURDIR)/bin/Release/homegear $(CURDIR)/debian/homegear/usr/bin
	chown root:root $(CURDIR)/debian/homegear/usr/bin/homegear
	chmod 750 $(CURDIR)/debian/homegear/usr/bin/homegear
	
	mkdir -p $(CURDIR)/debian/homegear/etc/homegear
	cp $(CURDIR)/Miscellaneous/main.conf $(CURDIR)/debian/homegear/etc/homegear
	cp $(CURDIR)/Miscellaneous/rpcclients.conf $(CURDIR)/debian/homegear/etc/homegear
	cp $(CURDIR)/Miscellaneous/rpcservers.conf $(CURDIR)/debian/homegear/etc/homegear
	cp $(CURDIR)/Miscellaneous/physicaldevices.conf $(CURDIR)/debian/homegear/etc/homegear
	cp $(CURDIR)/Miscellaneous/GetDeviceFiles.sh $(CURDIR)/debian/homegear/etc/homegear
	cp $(CURDIR)/Miscellaneous/DeviceTypePatch.patch $(CURDIR)/debian/homegear/etc/homegear
	mkdir -p $(CURDIR)/debian/homegear/etc/homegear/Device\ types
	chown -R root:root $(CURDIR)/debian/homegear/etc/homegear
	chmod 755 $(CURDIR)/debian/homegear/etc/homegear
	chmod 644 $(CURDIR)/debian/homegear/etc/homegear/*
	chmod 755 $(CURDIR)/debian/homegear/etc/homegear/GetDeviceFiles.sh
	chmod 755 $(CURDIR)/debian/homegear/etc/homegear/Device\ types
	mkdir -p $(CURDIR)/debian/homegear/etc/init.d
	cp $(CURDIR)/Miscellaneous/homegear $(CURDIR)/debian/homegear/etc/init.d
	chown root:root $(CURDIR)/debian/homegear/etc/init.d/homegear
	chmod 755 $(CURDIR)/debian/homegear/etc/init.d/homegear
	mkdir -p $(CURDIR)/debian/homegear/etc/logrotate.d
	cp $(CURDIR)/Miscellaneous/logrotate $(CURDIR)/debian/homegear/etc/logrotate.d/homegear
	chown root:root $(CURDIR)/debian/homegear/etc/logrotate.d/homegear
	chmod 644 $(CURDIR)/debian/homegear/etc/logrotate.d/homegear
	mkdir -p $(CURDIR)/debian/homegear/etc/security/limits.d
	chown root:root $(CURDIR)/debian/homegear/etc/security/limits.d
	echo "homegear        soft    rtprio          100" > $(CURDIR)/debian/homegear/etc/security/limits.d/homegear
	echo "homegear        hard    rtprio          100" >> $(CURDIR)/debian/homegear/etc/security/limits.d/homegear
	chown root:root $(CURDIR)/debian/homegear/etc/security/limits.d/homegear
	chmod 644 $(CURDIR)/debian/homegear/etc/security/limits.d/homegear
	mkdir -p $(CURDIR)/debian/homegear/var/lib/homegear/firmware
	cp $(CURDIR)/Miscellaneous/firmwareDir/GetFirmwareUpdates.sh $(CURDIR)/debian/homegear/var/lib/homegear/firmware
	chown -R root:root $(CURDIR)/debian/homegear/var/lib/homegear/firmware
	chmod -R 550 $(CURDIR)/debian/homegear/var/lib/homegear/firmware
	mkdir -p $(CURDIR)/debian/homegear/var/lib/homegear/modules
	cp $(CURDIR)/lib/Modules/Release/*.so $(CURDIR)/debian/homegear/var/lib/homegear/modules/*.so
	rename 's/lib/mod_/' $(CURDIR)/debian/homegear/var/lib/homegear/modules/*.so
	chown -R root:root $(CURDIR)/debian/homegear/var/lib/homegear/modules
	chmod -R 550 $(CURDIR)/debian/homegear/var/lib/homegear/modules
%:
	dh $@
