Source: php8-homegear-dev
Maintainer: Sathya Laufer <sathya@laufers.net>
Section: misc
Priority: optional
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 8)
Homepage: https://homegear.eu

Package: php8-homegear-dev
Architecture: any
Section: libdevel
Priority: optional
Homepage: https://homegear.eu
Depends: libxslt1-dev, libedit-dev, libenchant-dev | libenchant-2-dev, libqdbm-dev, ${shlibs:Depends}, ${misc:Depends}
Description: Provides the PHP 8 library and headers needed to compile Homegear.
 This packet provides the PHP 8 library and header files need to compile
 Homegear.
